<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <meta charset="UTF-8">
    <title>Project</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
    <link rel="stylesheet" href="/css/background.css">
</head>
<button class="btn btn-primary btn-block">add Task</button>

<table class="table table-hover">
    <thead class="text-warning">
    <th>Id</th>
    <th>Name</th>
    <th>Start</th>
    <th>End</th>
    <th>Completed</th>
    <th>Description</th>

    </thead>
    <tbody>
    <tr th:each="task:${allTask}">
        <td>th:text="${task.taskId}"></td>
        <td th:text="${task.name}"></td>
        <td th:text="${task.start}"></td>
        <td th:text="${task.end}"></td>
        <td th:text="${task.completed}"></td>
        <td><a th:text="Descrition" th:href="${'/project/'++'task/'+task.taskId}"></a></td>
    </tr>
    </tbody>
</table>
</html>