<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <meta charset="UTF-8">
    <title>Sign Up</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
    <link rel="stylesheet" th:href="@{../../static/css/background.css}">
</head>
<body>
<h1 style="text-align: center">Welcome to interactiveTasks</h1>
<div class="container" >
    <hr>

    <div class="row" style="margin-top: 50px">
        <aside class="col-sm-4" ></aside>
        <aside class="col-sm-4">

            <div class="driedFlower">
                <article>
                    <h4 class="card-title mb-4 mt-1">Sign in</h4>
                    <form method="post" th:action="@{/login/newaccount}" th:object="${newCollaborator}" action="#">
                        <div class="form-group">
                            <label>First name</label>
                            <input th:field="*{firstname}" name="" class="form-control" placeholder="Name" type="text">
                        </div> <!-- form-group// -->
                        <div class="form-group">
                            <label>Last name</label>
                            <input th:field="*{lastname}" name="" class="form-control" placeholder="Name" type="text">
                        </div> <!-- form-group// -->
                        <div class="form-group">
                            <label>Your email</label>
                            <input th:field="*{email}" name="" class="form-control" placeholder="Email" type="email">
                        </div> <!-- form-group// -->

                        <!--           Password verification to do              -->

                        <div class="form-group">
                            <label>Your password</label>
                            <input th:field="*{passwd}" class="form-control" placeholder="******" type="password">
                        </div> <!-- form-group// -->
                        <div class="form-group">
                            <label>What are you?</label>
                            <div class="checkbox">
                                <label> <input th:field="*{categories[0]}" type="checkbox"> Programmer </label><br>
                                <label> <input th:field="*{categories[1]}" type="checkbox"> Artist </label><br>
                                <label> <input th:field="*{categories[2]}" type="checkbox"> Designer </label><br>
                                <label> <input th:field="*{categories[3]}" type="checkbox"> Manager </label>
                            </div> <!-- checkbox .// -->
                        </div> <!-- form-group// -->
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block"> Sign up  </button>
                        </div> <!-- form-group// -->
                    </form>
                </article>
            </div> <!-- card.// -->

        </aside> <!-- col.// -->
    </div>
</div>
</body>
</html>
