<!DOCTYPE html>
<html lang="en">
<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <meta charset="UTF-8">
    <title>Sign Up</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
    <link rel="stylesheet" href="/css/background.css">
</head>
<body>
<h1 style="text-align: center">Welcome to interactiveTasks</h1>
<div class="container" >
    <hr>

    <div class="row" style="margin-top: 50px">
        <aside class="col-sm-4" ></aside>
        <aside class="col-sm-4">

            <div class="driedFlower">
                <article>
                    <h4 class="card-title mb-4 mt-1">Sign in</h4>
                    <form>
                        <div class="form-group">
                            <label>Your Name</label>
                            <input name="" class="form-control" placeholder="Name" type="text">
                        </div> <!-- form-group// -->
                        <div class="form-group">
                            <label>Your email</label>
                            <input name="" class="form-control" placeholder="Email" type="email">
                        </div> <!-- form-group// -->
                        <div class="form-group">
                            <label>Your password</label>
                            <input class="form-control" placeholder="******" type="password">
                        </div> <!-- form-group// -->
                        <div class="form-group">
                            <label>Enter your password Again</label>
                            <input class="form-control" placeholder="******" type="password">
                        </div> <!-- form-group// -->
                        <div class="form-group">
                            <label>What are you?</label>
                            <div class="checkbox">
                                <label> <input type="checkbox"> Programmer </label><br>
                                <label> <input type="checkbox"> Artist </label><br>
                                <label> <input type="checkbox"> Designer </label><br>
                                <label> <input type="checkbox"> Manager </label>
                            </div> <!-- checkbox .// -->
                        </div> <!-- form-group// -->
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block"> Login  </button>
                        </div> <!-- form-group// -->
                    </form>
                </article>
            </div> <!-- card.// -->

        </aside> <!-- col.// -->
    </div>
</div>
</body>
</html>